/* Barcha sahifa uchun fon */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #d97706, #b45309);
    font-family: Arial, sans-serif;
    margin: 0;
}

/* Asosiy soat bloki */
.clock {
    display: flex;
    gap: 20px;
    background: #f59e0b;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}

/* Har bir vaqt qutisi */
.clock div {
    background: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    min-width: 100px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

/* Sonlar */
.clock div span {
    display: block;
    font-size: 40px;
    font-weight: bold;
}

/* Matn */
.clock div p {
    font-size: 14px;
    margin: 5px 0 0;
}
